.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background-color: #508c9b;
  z-index: 10;
}

input {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 9%;
}

pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

h1 {
  margin-bottom: 15px;
  color: white;
  letter-spacing: 4px;
}
form .submit {
  background: #05b462 !important;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

p {
  color: rgb(236, 95, 95);
}

.text {
  margin: 2px;
  padding: 5px;
  color: white;
  z-index: 10;
  letter-spacing: 2px;
}

span {
  color: rgb(0, 95, 236);
  cursor: pointer;
  z-index: 10;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.submit {
  margin-top: 15px;
}

.field label {
  color: white;
  letter-spacing: 4px;
}

.bgImg {
  background: #000000a3;
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  z-index: 5;
}
